html {
    font-size: 16px;
}

body {
    box-sizing: border-box;
    color: #ffffff;
    font-size: 16px;
}

form {
    margin-top: 0.5rem;
}

#acesso {
    width: 100%;
    text-align: center;

}

#cadastro > button {
    background-color: #ffffff;
    color: #105810;
    font-weight: bold;
    border-radius: 0.25em;
    border: none;
    transition: 0.15s;
    margin-top: 1rem;
    padding: 0.3em;
}

#cadastro > button:hover {
    background-color: #105810;
    color: #ffffff;
    scale: 1.02;
    transition: 0.15s;
    cursor: pointer;
    padding: 0.3em;
}

#entrada > form > input[type="submit"] {
    background-color: #ffffff;
    color: #105810;
    font-weight: bold;
    border-radius: 0.25em;
    border: none;
    transition: 0.15s;
    margin-top: 1rem;
    padding: 0.3em;
}

#entrada > form > input[type="submit"]:hover {
    background-color: #105810;
    color: #ffffff;
    scale: 1.02;
    transition: 0.15s;
    cursor: pointer;
    padding: 0.3em;
}

#recovery {
    color: #105810;
}

    #login {
        display: inline-block;
        width: 100%;
        background-color: #2c2b30;
        border-radius: 1rem;
        padding: 1rem 0.5rem;
        margin: 2rem 0 0 0;
        text-align: center;
    }

    #entrada, #cadastro {
        display: inline-block;
        text-align: center;
        margin: 1rem;
        width: 90%;
    }

    #entrada > p, #cadastro > p {
        text-align: unset;
        margin-top: 0.3rem;
    }


